spring:
  application:
    name: obscura
  jpa:
    hibernate:
      ddl-auto: validate 
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics